@media screen and (max-width: 425px) {
    .for-mobile {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.text-justify {
    text-align: justify;
}
.card-size{

}
.card1-text{
    font-size: 14px;
    color: #72777a;
}
